@model IdnetityExample.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Login", "Account", new { returnUrl = Request.QueryString["ReturnUrl"] ?? (Request.UrlReferrer?.ToString() ?? "") }, FormMethod.Post))
{
    @Html.ValidationSummary()

    <div>
        @Html.TextBoxFor(m => m.Username, new { @placeholder = Html.DisplayNameFor(m => m.Username) })
    </div>
    <div>
        @Html.PasswordFor(m => m.Password, new { @placeholder = Html.DisplayNameFor(m => m.Password) })
    </div>

    <div>
        <input type="submit" value="sign in" id="register-submit">
    </div>
}

